<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="/css/styles.css">

  <title>Mi primera pag</title>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="#productos">Productos</a></li>
        <li><a href="asdfasd">Soy un link</a></li>
        <li><a href="asdfasd">Soy un link</a></li>
      </ul>

      <p>login</p>
      <a href="/login">
        <i class="fa-solid fa-arrow-right-to-bracket"></i>
        <i class="fas fa-bars"></i>
      </a>
      <img id="login-btn" src="/imgs/login-svgrepo-com.svg"></img>
    </nav>
  </header>

  <main>
    <h1 class="titulo fondo-gris">Soy un h1!</h1>

    <div id="circulo"></div>

    <a href="https://www.google.com">
      <h2>Soy un h2!</h2>
    </a>

    <h3>Soy un h3!</h3>
    <h6>Soy un h6!</h6>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad maxime odio quae asperiores obcaecati corrupti nesciunt excepturi inventore nulla corporis rem voluptas debitis nihil, quo fuga accusantium earum fugit animi.</p>

    <a href="https://www.google.com">Google</a>

    <button id="boton-especial" >Soy un botón!</button>

    <input type="date">

    <input id="edad-input" type="number" max="15" min="5" step="0.5">

    <section>
      <div>
        <h3>Nombre</h3>
        <h4>1123123123</h4>
        <p>Dirección</p>
      </div>

      <div>
        <h3>Nombre</h3>
        <h4 class="titulo">1123123123</h4>
        <p>Dirección</p>
      </div>

      <div>
        <h3>Nombre</h3>
        <h4>1123123123</h4>
        <p>Dirección</p>
      </div>
    </section>

    <section id="productos">
      <article>
        <h1>Licuadora</h1>
        <h2>$6000</h2>
        <h3>Garantía de por vida</h3>
      </article>

      <article>
        <h1>Licuadora</h1>
        <h2>$6000</h2>
        <h3>Garantía de por vida</h3>
      </article>

      <article>
        <h1>Licuadora</h1>
        <h2>$6000</h2>
        <h3>Garantía de por vida</h3>
      </article>
    </section>

    <section>
      <p>Datos de contacto</p>
    </section>

    <select>
      <option selected="true">-- Seleccione un color --</option>
      <option>Rojo</option>
      <option>Verde</option>
      <option>Negro</option>
    </select>

    <ul>
      <li>Argentina</li>
      <li>Francia</li>
      <li>Mexico</li>
    </ul>

    <ol start="10">
      <li>Argentina</li>
      <li>Francia</li>
      <li>Mexico</li>
    </ol>

    <img src="./imgs/feliz-guapo.PNG" width="500px" alt="">
  </main>

  <footer>
    <p class="titulo">email</p>
    <p>telefono</p>
  </footer>
</body>

</html>