<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="/css/styles.css">

  <title>Mi primera pag</title>
</head>

<body>

  <form action="/registrar" method="GET">
    <div class="grupo-input">
      <label for="nombre">Nombre:</label>
      <input type="text" placeholder="Ej: Ignacio" name="nombre" id="nombre">
    </div>

    <div class="grupo-input">
      <label for="apellido">Apellido:</label>
      <input type="text" name="apellido" id="apellido">
    </div>

    <div class="grupo-input">
      <label for="nombre">Nombre:</label>
      <input type="text" name="nombre" id="nombre">
    </div>

    <div class="grupo-input">
      <label for="apellido">Apellido:</label>
      <input type="text" name="apellido" id="apellido">
    </div>

    <div class="grupo-input">
      <label for="nombre">Nombre</label>
      <input type="text" name="nombre" id="nombre">
    </div>

    <div class="grupo-input">
      <label for="apellido">Apellido</label>
      <input type="text" name="apellido" id="apellido">
    </div>


    <div class="grupo-input">
      <select name="color" id="color">
        <option value="#fff">Blanco</option>
        <option value="#000">Negro</option>
      </select>
    </div>

    <div class="grupo-input">
      <label for="">Hombre</label><input type="radio" name="genero" id="hombre" value="hombre">
      <label for="">Mujer</label><input type="radio" name="genero" id="mujer" value="mujer">
      <label for="">Otro</label><input type="radio" name="genero" id="otro" value="otro">
    </div>

    <label for="">Mantener sesión iniciada</label>
    <input type="checkbox">
    <br>

    
    <input type="submit" value="Registrar">
    <input type="reset">

    <input type="date" name="">
    
    <button type="button">Validar mis datos</button>
  </form>

  <a href="https://www.google.com">Link a una página</a>

</body>

</html>