body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.titulo {
    width: 80vw;
    height: 50vh;
    border: 1px solid black;
    padding: 25px;
    display: inline-block;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    border: 2px solid orangered;
}

.container-2 {
    width: 75%;
    border: 1px solid blue;
}

.video-container{
    width: 90vw;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
}

.video-container img{
    width: 50%;
}

@media (min-width: 480px){
    .video-container {
        width: 45vw;
    }
}

@media (min-width: 769px){
    .video-container {
        width: 30vw;
    }
}