@import url('/fonts/Oswald-Bold.ttf');
/* 
h1 {
    color: blue;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: large;
    text-align: center;
    width: 500px;
    height: 500px;
    background-color: #54ffe080;
} */

.titulo {
    color: aqua;
}

.fondo-gris {
    background-color: gray;
}

#edad-input {
    background-color: coral;
}

#circulo{
    width: 250px;
    height: 300px;
    background-color: darkslategrey;
    border-radius: 50%;
}

#login-btn {
    width: 20px;
    height: 20px;
}

article{
    text-align: center;
}

#boton-especial{
    margin-bottom: 50px;
    margin-right: 55px;
    margin-left: 57px;
    padding: 25px;

    border: 3px dashed green;
}