body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.titulo {
    width: 80vw;
    height: 50vh;
    border: 1px solid black;
    padding: 25px;
    display: inline-block;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    border: 2px solid orangered;
}

.container-2 {
    width: 75%;
    border: 1px solid blue;
}

.video-container{
    display: inline-block;
    box-sizing: border-box;
}

.video-container img{
    width: 200px;
}

.videos-wrapper {
    display: flex;
    height: 50vh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.searchbar {
    margin: 25px;
    width: 25vw;
    border-radius: 12px;
    border: 1px solid #9d9d9d;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.searchbar input{
    width: 85%;
    border: none;
    outline: none;
    box-sizing: border-box;
    background-color: #9d9d9d;
    border-radius: 12px;
    padding: 5px;
}

.searchbar i{
    width: 10%;
}

.grupo-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 28vw;
    margin-bottom: 10px;
}

input:focus{
    background-color: burlywood;
}

input:hover{
    background-color: aquamarine;
}

a:visited{
    color: rgb(0, 255, 60);
}