<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

  <div class="posts"></div>

  <script src="/js/fetchPosts.js"></script>
</body>

</html>