<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Iniciar sesión</h1>
    <form action="/users/login" method="post">
        <h1 style="color: red"><%= error %></h1>
        <label for="">Email</label>
        <input name="email" type="email">
        <br>
        <label for="">Password</label>
        <input name="password" type="password">
        <br>
        <label for="">Mantener sesión iniciada</label>
        <input type="checkbox" name="remember" id="">
        <br>
        <input type="submit" value="Iniciar sesión">
    </form>
</body>
</html>