<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Registar un nuevo usuario</h1>
    <form action="/users" method="post">
        <label for="">Email</label>
        <input name="email" type="email">
        <br>
        <label for="">Username</label>
        <input name="username" type="text">
        <br>
        <label for="">Password</label>
        <input name="password" type="password">
        <br>
        <input type="submit" value="Registrarme">
    </form>
</body>
</html>